@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url("../images/fire_00002.jpg"); */
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Weibei SC;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

 /* ハンバーガーボタン */
 .hamburger_button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 20px;
  background:none;
  border: none;
  padding: 0;
  transition: opacity 0.3s;
  z-index: 9;
 }

.bar {
  width: 100%;
  height: 1.3px;
  background-color: rgb(249, 25, 25);
}

nav {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(7px);
  z-index: 10;
}

nav a {
  color: white;
  text-decoration: none;
}

nav.active {
  display: flex;
  transform: translateX(0);
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.active ul {
  flex-direction: column;
}

nav li {
  font-family: "Baoli TC";
  font-size: 60px;
  padding-left: 10px;
  margin-top: 40px;
  transition: background-color 0.3s;
}

nav a:hover {
  color: rgba(200, 200, 200);
}

/* 見出し */
.main_desk img {
  margin: 0;
  width: 60%;
  max-height: 80vw;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}


h1 {
  width: 100%;
  font-size: 10vw;
  font-family: Weibei SC;
  position: absolute;
  text-align: center;
  margin-top: -50vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

/* 自己紹介 */

.profile {
  display: flex;
  margin-left: 10%;
  margin-right: 5%;
  width: auto;
  font-family: Weibei SC;
  margin-top: 30%;
  align-items: top;
}

.image{
  width: 30%;
}

.me{
  font-size: 30px;
  margin-top: 10%;
}

.block{
  margin-left: 10%;
}

h2{
  font-size: 80px;
  text-align: center;
  margin-top: 0;
  font-family: ヒラギノ明朝 Pron;
}

/* 伝説図鑑 */
h3{
  font-size: 80px;
  text-align: center;
  margin-top: 30%;
  font-family: ヒラギノ明朝 Pron;
}

.legend {
  display: flex;
  margin-left: 15%;
  margin-right: 10%;
  width: auto;
  margin-top: 15%;
  align-items: center;
}

.act{
  font-family: Weibei SC;
  font-size: 45px;
}

.image_lg{
  width: 30%;
  margin-left: 10%;
}

.legend02 {
  display: flex;
  margin-left: 10%;
  margin-right: 15%;
  width: auto;
  margin-top: 15%;
  align-items: center;
}

.act02{
  font-family: Weibei SC;
  font-size: 60px;
  margin-left: 17%;
}

.act03{
  font-family: Weibei SC;
  font-size: 70px;
  margin-left: 25%;
}

.image_lg02{
  width: 30%;
  margin-left: 5%;
}

h4{
  font-size: 70px;
  text-align: center;
  margin-top: 13%;
  font-family: ヒラギノ明朝 Pron;
  background-image:url("../images/image.jpg") ;
}

/* スクロールアニメーション設定(Gemini 3に方法を相談) */
.legend, .legend02 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.8s ease-out, transform 0.8s ease-out;
}

.legend.show, .legend02.show {
  opacity: 1;
  transform: translateY(0);
}

/* おまけ */
.add{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.add img{
  width: 50%;
  height: auto;
  object-fit: cover;
}

h5{
  font-size: 65px;
  margin-top: 9%;
  margin-bottom: 6%;
  font-family: ヒラギノ明朝 Pron;
  text-align: center;
}

  /* フッター */
  footer {
    margin-top: 30%;
    margin-bottom: 10%;
    clear: both;
    text-align: center;
  }
